<%- include('../includes/head.ejs') %> 
</head>
<body>
    <%- include('../includes/header.ejs') %> 


    <main class="logging mt-5">        
        <form action="/reset" method="POST" >

            <% if (messageToUser) { %>
                <p class="alert alert-warning mt-3"><%= messageToUser %></p>
            <% } %>

            <div class="inpt mt-4">
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" type="mail" value="<%= keepetInput.email %> " required>
            </div>
            <button class="btn mt-5 btn-outline-info" type="submit" name="reset">Reset</button>

        </form>
    </main>


    <%- include('../includes/footer.ejs') %> 