<%- include('includes/head.ejs') %> 
</head>
<body>
    <%- include('includes/header.ejs') %> 

    <main>
        <% if (messageToUser) { %>
            <p class="alert alert-success mt-3"><%= messageToUser %></p>
        <% } %>
        <div class="row">
            <% for (let book of books) { %>    
            <div class="book toUpper">
                <a href="/book/<%= book.path%>/<%= book._id%>"><img src="/<%= book.cover %>" alt="<%= book.title%>"></a>
                <div class="details">
                    <p><%= book.title %></p>
                     <a href="/author/<%= book.author%>" class="text-info"><%= book.author.split("-").join(" ")%></a>
                    <div class="buy">
                        <span><%= book.price %>$</span>
                        <a href="/book/<%= book.path%>/<%= book._id%>" class="btn btn-outline-info">read more</a>
                    </div>
                </div>

            </div>

            <% }%>

        </div>

    </main>
    <%- include('includes/footer.ejs') %> 
