<%- include('includes/head.ejs') %> 
</head>
<body>
    <%- include('includes/header.ejs') %> 

    <main class="container">

        <% for( let items of book) { %>
            <div class="section my-5">

                <div class=" mx-auto">
                    <h3 class="col-12">
                        <a class="text-dark" href="/<%= section%>/<%= items%>/"><p class="toUpper"><%=items.split("-").join(" ")%></p> </a>
                    </h3>
                </div>
    
                <div class="nav-link nav-scroller p-0 col-12">

                    
                    <ul class="list-group list-group-horizontal">
            
                        <% for( let book of result) { %>

                            <%if( eval("book."+pageTitle) == items){%>
                            <a class="" data-toggle="tooltip" data-placement="auto" title="<%=book.title%>" href="book/<%=book.path%>/<%=book.id%>">
                                <img class="list-group-item" src="/<%= book.cover %>" alt="<%= book.title%>">
                            </a>
                        <% }} %>
                        <a class="all list-group-item" data-toggle="tooltip" data-placement="auto" href="/<%= section%>/<%= items%>/">
                            See ALL
                        </a>
                    </ul>
                </div>

    
            </div>
        <% } %>

    </main>


    
    <%- include('includes/footer.ejs') %> 
